# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Escuela\Universidad\S3\APP3\S3-APP3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

#ignore folders
S3-APP3/.idea/
S3-APP3/out/